.app-header {
  height: 10vh;
  width: 100%;
  background-color: rgba(210, 213, 255, 0.301);
  .app-header-layout {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .app-logo {
    img {
      width: 50px;
    }
  }
  .nav-links {
    height: 100%;
    display: flex;
    align-items: center;
    .header-link {
      margin-left: 25px;
      display: flex;
      align-items: center;
    }
    a {
      text-decoration: none;
      color: black;
      font-size: 1.5rem;
      height: 100%;
      transition: 0.2s;
      color: rgb(0, 0, 0);
    }

    a:hover {
      // color: rgb(198, 207, 195);
      box-shadow: inset 0px -6px 0px;
      // box-shadow: 5px solid black;
    }
  }
}
