// HELPERS

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid-list {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-columns: repeat(auto-fit, 250px);
}
