* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  // background-image: url('../../imgs/imgs/stars.jpg');
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  color: white;
}

h1 {
  margin: 0;
}
