// color palletes

// pallet 1
$a1: #ff6363;
$a2: #ffab76;
$a3: #fffda2;
$a4: #baffb4;

// pallet 2
$b1: #d3dedc;
$b2: #92a9bd;
$b3: #7c99ac;
$b4: #ffefef;

// pallet 3
$c1: #cee5d0;
$c2: #f3f0d7;
$c3: #fed2aa;
$c4: #ffbf86;
