// Basic
@import './basic/helpers.scss';
@import 'basics/base.scss';
@import 'basics/colors.scss';

// Pages
@import 'pages/homepage.scss';
@import 'pages/secondPage.scss';
@import 'pages/userList.scss';

// Components
@import 'components/header.scss';

.bg-img {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 40%;
    z-index: -1;
}