// Basic
@import './basic/helpers.scss';
@import 'basics/base.scss';
@import 'basics/colors.scss';

// Pages
@import 'pages/homepage.scss';
@import 'pages/secondPage.scss';

// Components
@import 'components/header.scss';
